body{
  margin:0;
}
header{
  display:flex;
  margin-bottom:min(5%,20px);
}
#content{
  margin:min(5%,20px) 0;
}
#logo{
  width:30%;
  padding:2% 5% 2% 2%;
  color:black;
}
#tribute{
  font-size:5vw;
  vertical-align:center;
  font-family:'Roboto', sans-serif;
}
#page{
  font-size:5vw;
  font-family:'Roboto', sans-serif;
}

section{
  margin-top:4%;
}
#albert{
  text-align:center;
  font-family: Arial, sans-serif;
  font-size:min(6vw,40px);

}

header,footer{
background-image:linear-gradient(135deg,#566573,#D5D8DC);
  box-shadow:1px 1px 5px black;
}

#title{
  display:flex;
  color:rgb(39, 55, 70 );
  font-size:36px;
  font-weight:250;
  padding:20px 0 10px;
  text-shadow:1px 1px 1px ;
  justify-content:center;
  padding-top:0;
}

#subtitle{
  font-size:min(3vw,20px);
  font-family:Yu Gothic;
  font-style:italic;
}

#title, #subtitle{
  text-align:center;
  margin:0;

}
.info{
  text-indent:50px;
  line-height:1.5rem;
}
p{
  text-align:center;
}
#img-caption{
  margin:10px 0 0;
  padding:0;
  text-align:center;

}
h3{
  margin:0;
}
#img-div{
  background-color:#EAECEE;
  border-radius:8px;
  margin:0 auto;
  width:75%;
  max-width:450px;
  padding:3% ;
}
#image{
  display:block;
  height:auto;
  width:80%;
  max-width:100%;
  margin:5px auto;
  border-radius:8px;
}
.info{
  padding:10px 4%;
  margin:0 auto;
  width:85%;
  max-width:975px;
}


.info:first-of-type{
  padding-top:0;
}
.info:last-of-type{
  padding-bottom:0;
}

